body {
    max-width: 1440px;
    margin: 0 auto;
}


.wrapper {
    max-width: 1160px;
    margin: 0 auto;
    font-size: 14px;
}






@import "../scss/utils/fonts.scss";
@import "../scss/utils/vars.scss";
@import "./src/pug/includes/modules/header/header.scss";
@import "./src/pug/pages/index.scss";
@import "./src/pug/includes/modules/footer/footer.scss";






// Modules
// @import "modules/my-module.scss";
