body {
    width: 1440px;
    margin: 0 auto;
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    }


.wrapper {
    width: 1160px;
    max-width: 1160px;
    margin: 0 auto;
    
    font-size: 14px;
    background-color: lawngreen;
    
}






@import "../scss/utils/fonts.scss";
@import "../scss/utils/vars.scss";
@import "./src/pug/includes/modules/header/header.scss";
@import "./src/pug/pages/index.scss";
@import "./src/pug/includes/modules/footer/footer.scss";






// Modules
// @import "modules/my-module.scss";
