@import "../scss/utils/vars.scss";
.header_menu {
width: 527px;
height: 21px;
left: 543px;
top: 26px;
font-family: $menuFont;
/* font-size: 14px;
line-height: 17px; 
font-style: italic; */
}
.header_menu active {
    font-weight: bold;
}