.button-sign-in {
width: 87px;
height: 34px;
border-radius: 22px;
border-color: #BC9CFF;
margin-left: auto;
margin-right: 20px;
font-weight: bold;
font-size: 12px;
line-height: 15px;
color: #BC9CFF;
text-transform: uppercase;
//display: none;
}