extends ../layout/main

block variables
  - var title = 'TOXIN main page';
  - var description = 'Choose your room';
  - var pageClass = 'index-page';
  - var slogan = 'Лучшие номера для вашей работы, отдыха и просто вдохновения';

block content
  section
    .container
      .bg-image
        img(src='../assets/images/bg-image-main.svg', alt=slogan)
      
      .wrapper
        .slogan #{slogan}
  


block script
  script(type='text/javascript').
    const foo = true;
    let bar = function() {};
    if (foo) {
    bar(1 + 5)
    }