
  /* new montserat-400 */
  @font-face {
	font-family: 'Montserrat-Regular';
	src: url('../fonts/Montserrat-Regular/fonts/Montserrat-Regular.eot');
	src: local('Montserrat-Regular'), url('../fonts/Montserrat-Regular/fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular/fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular/fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Montserrat-Bold */
@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../fonts/Montserrat-Bold/fonts/Montserrat-Bold.eot');
	src: local('Montserrat-Bold'), url('../fonts/Montserrat-Bold/fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold/fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold/fonts/Montserrat-Bold.svg') format('svg');
	font-weight: normal;
     font-style: normal;
}