.header
    include ../logo/logo
    nav(class='header__nav')
        ul(class='header__list')
           li(class='header__item')
            a(href='#', class='header__link') О нас
           li(class='header__item')
            a(href='#', class='header__link') Услуги 
                img(src="assets/images/sharp_expand_more_black_18dp.png")
           li(class='header__item')
            a(href='#', class='header__link') Вакансии
           li(class='header__item')
            a(href='#', class='header__link') Новости
           li(class='header__item')
            a(href='#', class='header__link') Соглашения
                img(src="assets/images/sharp_expand_more_black_18dp.png")
           
        include ../button-sign-in/button-sign-in
        include ../button-registration/button-registration
        .rectangle_user-name
        .userName Ivan Ivanov
    
