.header
    include ../logo/logo
    nav(class='header__nav')
        ul(class='header__list')
           li(class='header__item')
            a(href='#', class='header__link') О нас
           li(class='header__item')
            a(href='#', class='header__link') Услуги
           li(class='header__item')
            a(href='#', class='header__link') Вакансии
           li(class='header__item')
            a(href='#', class='header__link') Новости
           li(class='header__item')
            a(href='#', class='header__link') Соглашения
          
    include ../button-sign-in/button-sign-in
    include ../button-registration/button-registration
    .rectangle_user-name
    .userName Ivan Ivanov
    
