.header {
width: 100%;
height: 70px;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
font-family: $menuFont;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}

.header__list {
    display: flex;
    flex-wrap: wrap;      
}

.header__item {
    padding-right: 30px;
}

.header__nav {
   margin-left: auto;
}

.header__link {
    text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active{
    font-weight: bold;
}

.userName {
    display: none;
}

.rectangle_user-name {
    width: 1px;
    height: 30px;
    background: rgba(31, 32, 65, 0.1);
    margin-right: 30px;
    display: none;
}

@import "./src/pug/includes/modules/logo/logo.scss";
@import "./src/pug/includes/modules/button-sign-in/button-sign-in.scss";
@import "./src/pug/includes/modules/button-registration/button-registration.scss";