include ../utils/mixins
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content=description)
    script(src="https://kit.fontawesome.com/6ae2464c8e.js" crossorigin="anonymous")
    block head

  body(class=pageClass)
    
    .wrapper
      include ../includes/modules/header/header
    .content-wrapper
      block content
    .wrapper
      include ../includes/modules/footer/footer

    block script