.logo
    a(href='/', class='header__logo', alt='TOXIN: Лучшие номера для вашей работы, отдыха и просто вдохновения')
        span.logo_picture
            
            img(src="assets/images/logo.png")
        span.logo_text
            img(src="assets/images/TOXIN.png")