.logo {
    position: relative;
    width: 105.69px;
    height: 40px;
    margin-left: 140px;
    margin-top: 15px;
    }
.logo_picture {
    position: relative;
    width: 40px;
    height: 40px;
}
.logo_text {
    position: relative;
    width: 53.19px;
    height: 12.95px;
    bottom: 13.72px;
    left: 12.5px;
 } 